body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;

  width: 100vw;
  height: 100vh;

  display: flex;

  align-items: center;
  justify-content: center;
}

.ControlsContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
